@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .container input:-webkit-autofill,
.container input:-webkit-autofill:focus,
.container input:-webkit-autofill:hover {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  transition: transparent 5000s ease-in-out 0s;
} */
